@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Angella White";
    src: url(../fonts/angella-white-font/AngellaWhitePersonalUseOnly-R9wpv.ttf);
 }

* {
    margin: 0;
    padding: 0;
}

:root {
    --black-chocolate: #231416;
    --catawba: #753b41;
    --tuskan-red: #784b4a;
    --lilac-luster: #b89da7;
    --soft-coral: #ffc8b9;
    --platinum: #e5dce2;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--black-chocolate);
    text-align: center;
    scroll-behavior: smooth;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;

}

/* navbar */

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--catawba);
    color: var(--lilac-luster);
    padding: 5px;
    padding-right: 25px;
}

.h1 {
    font-family: "Angella White", cursive;
    padding-left: 80px;
}

.nav {
    font-size: 16px;
}

.nav-color {
    --bs-nav-link-color: var(--platinum); --bs-nav-pills-link-active-color: var(--black-chocolate); --bs-nav-pills-link-active-bg: var(--lilac-luster);
}

.nav>li>button:hover {
    color: var(--lilac-luster);
    transform: scale(1.02);
}

.nav>li>button {
    transition: ease-in-out 0.3s;
}

.bg-color {
    background-color: var(--tuskan-red);
}

/* navbar end */

/* header */

.bg-image {
    background-image: url(../img/bg-top.png);
    background-repeat: no-repeat;
    background-size: 1250px 650px;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 110px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.img {
    border-radius: 15px;
    border: solid 2px var(--lilac-luster);
}

.display-1 {
    font-family: "Angella White", cursive;
    margin-bottom: 0;
    color: var(--lilac-luster);
}

.display-6 {
    color: var(--lilac-luster);
    margin: 0;
    padding: 0;
}

.mark {
    background-color: var(--soft-coral);
    color: var(--black-chocolate);
    padding: 0;
}

.head-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cont-badges {
    display: flex;
    gap: 10px;
}

.cont-badge {
    height: 45px;
    width: 45px;
    border: 1.5px solid var(--platinum);
    border-radius: 30%;
    padding: 7px;
    transition: 0.3s ease-in-out;
}

.cont-badge:hover {
    transform: scale(1.1);
    stroke: var(--catawba);
    border-color: var(--catawba);
}

/* header end */

/* main */

.container {
    display: grid;
    grid-template-columns: auto auto;
    background: var(--tuskan-red);
    padding: 2em;
    margin-top: 2em;
    border-radius: 1%;
    gap: 2em;
}

.divisor {
    height: 7px;
    border: none;
    background-color: var(--black-chocolate);
    grid-column: 1/3;
}

.h1-main {
    font-family: "Angella White", cursive;
    color: var(--soft-coral);
    font-size: 65px;
}

.sobre-mim {
    color: var(--platinum);
    font-size: 18px;
}

.techs-icons {
    display: flex;
    padding: 15px;
    gap: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.proj-column {
    grid-column: 1/3;
}

.projects {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    gap: 1em;
}

.img-proj {
    border: 3px solid var(--catawba);
    border-radius: 10px;
    height: 200px;
    width: 300px;
}

.desc-proj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proj-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--platinum);
}

.mark-proj {
    background-color: var(--catawba);
    color: var(--platinum);
    padding: 0;
}

.text-proj {
    font-size: 18px;
    color: var(--platinum);
}

/* main end */

/* footer */

.footer {
    background-color: var(--catawba);
    padding: 3px;
}

.text-foot {
    font-size: 14px;
    font-weight: 200;
    color: var(--platinum);
    margin: 0   ;
}

/* footer end */